@import "colors-main.scss";

code {
  font-family: monospace;
  font-size: 13px;
  white-space: pre;
}

a {
  color: $blue-6;
  outline: none;
  text-decoration: none;
}

blockquote {
  margin: 0 0 0 8px;
  padding: 0 0 0 5px;
  border-left: 2px solid $gray-5;
  color: $gray-6;
}

.commento-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
}

@keyframes yellowfade {
  from {
    background: $yellow-0;
  }
  to {
    background: transparent;
  }
}

.commento-highlight {
  animation: yellowfade 2s;
}

@media (max-width: 550px) {
  .commento-guest-details-container {
    width: 49% !important;
  }
  .commento-markdown-button {
    margin-top: -49px !important;
    float: left;
  }
}

#commento-notice-container {
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  z-index: 2;
  left: 0;
  width: 100%;
}

@keyframes slide-down {
      0% { opacity: 0; transform: translateY(-100%); }   
     30% { opacity: 1; transform: translateY(0); }
     70% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-100%); }   
}

#commento-notice-container .commento-moderation-notice {
  margin-top: 0 !important;
  padding: 18px 0 9px;
  background: $red-1;
  color: $red-7 !important;
  opacity:0;
  transform: translateY(-100%);
  animation: slide-down 5s;
}

.commento-clear {
  clear: both;
}

.commento-avatar-img {
  margin-right: 0 !important;
}

.commento-options {
  width: auto !important;
}

.commento-permalink {
  color: #50596cbf;
  font-weight: bold;
  text-align: right;
  width: 100%;
  display: inline-block;
  font-size: 70%;
  margin-left: -16px;
  visibility: hidden;
}

.commento-card:hover .commento-permalink {
  visibility: visible;
}
